<div class="container footer-layout">
	<div class="row">
		<div class="col-lg-4 ">
			<h3>OUR MISSION</h3>
			<p class="text-muted"> 
				Our Mission is to coordinate an expansive network of partnerships 
				working together for a common goal: providing the children of the 
				North Campus with a world-class education and 
				an enriching childhood experience so that they will 
				ultimately lift themselves and their families out of poverty. 
			</p>
		</div>
		
		<div class="col-lg-4 ">
			<h3>RECENT POSTS</h3>
			<div>
				<%= link_to "Governor Pledges Support for North Campus", "http://www.thenorthcampus.org/governor-nixon-pledges-support-for-north-campus"%>
			</div>
			<br/>
			<br/>
			
			<div>
				<%= link_to "Antonio discusses North Campus", "http://www.thenorthcampus.org/antonio-discusses-north-campus"%>
			</div>
			<br/>
			<br/>
			
			<div>
				<%= link_to "To Be or Not To Be?", "http://www.thenorthcampus.org/to-be-or-not-to-be"%>
			</div>
			
			<br/>
			<br/>
			
			<div>
				<%= link_to "This is North Campus", "http://www.thenorthcampus.org/this-is-north-campus"%>
			</div>
			
			<br/>
			<br/>
			
			<div>
				<%= link_to "The Beauty of Algebra", "http://www.thenorthcampus.org/the-beauty-of-algebra"%>
			</div>
			<br/>
			<br/>			
		</div>
		
		<div class="col-lg-4 ">
			<h3>CONTACT US</h3>
			<p class="text-muted">The North Campus Partnership</p>
			<p class="text-muted">@ The Sanctuary</p>
			<p class="text-muted">4449 Red Bud Avenue</p>
			<p class="text-muted">St. Louis, MO 63115</p>
			<p class="text-muted">(314) 769-9000</p>
			<a href="mailto:info@thenorthcampus.org">info@thenorthcampus.org</a>
		</div>
		
	</div>
</div>
